.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.app-content {
		min-height: calc(100vh - 56px);
		display: flex;
		flex-direction: row;
		flex: 1;
		align-items: start;
	}
}


.welcome {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem;

	h1 {
		margin-bottom: 1rem;
	}

	p {
		max-width: 500px;
		opacity: 0.8;
	}
}
