.balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h4{
        opacity: 0.7;
    }
    h1{
        font-size: 3.5rem;
    }
}