@use "../base/variables" as *;

.header {
  background-color: $color-primary;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  z-index: 10;
  color: white;
  padding: 1rem;
  text-align: center;
}
    