.summary {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
  gap: 1rem;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);

  .summary-box {
    flex: 1;
    text-align: center;

    p {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 0.3rem;
    }
  }

  .income p {
    color: green;
  }

  .expense p {
    color: red;
  }
}