.summary {
	text-align: center;

	.summay-cantainer {
		display: flex;
		justify-content: space-between;
		padding: 2rem;
		gap: 1rem;
		border-radius: 6px;

		.summary-box {
			flex: 1;
			text-align: center;

			p {
				font-size: 2rem;
				font-weight: bold;
				margin-top: 0.3rem;
			}
		}

		.income p {
			color: green;
		}

		.expense p {
			color: red;
		}
	}
}
